/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-button: #ffbc0d;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header,body,footer {
	font-family: Helvetica, Arial, sans-serif;
}

button {
	background-color: var(--color-button);
	border-radius: 1ch;
	border: none;
	text-decoration: none;
	padding: 2ch 3.5ch;
	font-size: 1em;
}

h3 {
	font-weight: normal;
	font-size: 2.5ch;
}