/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:#fff;
      --color-button: #ffbc0d;
      --font-family: Helvetica, Arial, sans-serif;
      --accent-color: rgb(206, 20, 20);
  }
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  html{
      font-family:var(--font-family);
  }

/* Dit is de code die ik heb gekopieërd van codepen die ik heb gevonden via codepen
Ik heb dit vervolgens aangepast om het werkend te maken voor mijn pagina. */

  .header2 a {
    position: relative;
    
    text-decoration:none;
    
    transition:color .5s;
    }
    
  .header2 a::after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:100%;
    height:.2em;
    background-color:var(--accent-color);
    
      /* initieel horizontaal helemaal plat */
    transform:scaleX(0);
    transition:transform .5s;
    }
    
    /* hover en focus */
  .header2 a:is(:hover, :focus-visible)::after {
      /* nu horizontaal de hele breedte */
    transform:scaleX(1);
    }
    
    /* active */
  .header2 a:active {
    --link-color:var(--accent-color);
    }
  
/* Begin states van de main header */
  
    .header1 a {
    position: relative;
    
    text-decoration:none;
    
    transition:color .5s;
    }
    
  .header1 a::after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:100%;
    height:.2em;
    background-color:var(--accent-color);
    
      /* initieel horizontaal helemaal plat */
    transform:scaleX(0);
    transition:transform .5s;
    }
    
    /* hover en focus */
  .header1 a:is(:hover, :focus-visible)::after {
      /* nu horizontaal de hele breedte */
    transform:scaleX(1);
    }
    
    /* active */
  .header1 a:active {
    --link-color:var(--accent-color);
    }
  
/* Einde code states  */
  
  /* inline-block zorgt ervoor dat de list items naast elkaar komen te staan */
  header section li {
      display: inline-block;
      position: relative;
      list-style: none;
      padding: 0;
  }

.header1 a, 
.header2 a, 
.dropdown a, 
 nav a,
.burgers a,
.footer_nav a, 
.footer_nav2 a{
	text-decoration: 0;
	color: #111;
}
  
  header a:nth-of-type(1){
      display: flex;
      justify-content: end;
      padding-right: 2em;
  }
  
  .header1 ul:nth-of-type(1) a:nth-of-type(1){
      font-size: 0.9em;
      font-weight: lighter;
  }
  
  .header1 ul:nth-of-type(2) a:nth-of-type(1){
      font-size: 1em;
      padding: 1.5em 1em 1.5em 1em;
      display: block;
  }
  
  /* Begin popup nav header */
  .header1 ul:nth-of-type(2) .dropdown li img{
      margin-left: 10ch;
  }
  
  .header1 ul:nth-of-type(2) .dropdown li{
      display: inline-flex;
      align-items: center;
      width: min-content;
      margin-top: 2ch;
  }
  
  .header1 ul:nth-of-type(2) .dropdown{
      width: 45vw;
      background-color: var(--color-background);
      position: absolute;
      z-index: 2;
      display: inline-block;
      box-shadow: 0 0.06em 0.5em 0 rgba(0,0,0,.06);
      margin-top: 2ch;
      padding: 0;
  }
  
  .header1 ul:nth-of-type(2) .dropdown li:last-of-type a{
      width: 21ch;
      margin-left: 35ch;
      margin-bottom: 5ch;
      border: .01em solid black;
      text-decoration: 0;
      padding: 1em;
      border-radius: .3em;
      box-shadow: 0 0.06em 0.5em 0 rgba(0,0,0,.06);
  }/* Einde popup nav header */

  .header1 ul:nth-of-type(2) li:first-of-type a:first-of-type{
      border-bottom: .3em solid rgb(206, 20, 20);
      font-weight: bolder;
  }

  .header1 ul:nth-of-type(2) li:first-of-type .dropdown a:nth-of-type(1){
    font-weight: normal;
  }

  .header1 ul:nth-of-type(2){
      margin-bottom: 0;
  }

  .header1 ul:nth-of-type(2) li:first-of-type .dropdown a:nth-of-type(1){
      border-bottom: 0;
      }
  
  .header2 ul{
      padding-left: 8em;
      font-size: 0.9em;
      font-weight: lighter;
  }
  
  .header2 ul:nth-of-type(1) a:nth-of-type(1){
      padding-left: 0.5em;
      text-decoration: 0;
  }
  
  header{
      display: grid;
      grid-template-columns: 4fr 6fr 6fr;
      /* box-shadow zorgt voor een box met schaduw wat de header afscheidt van de body.
      De eerste vier cijfers zijn de waardes voor de schaduw en de rgba staat voor de kleur.
      Ik heb de waardes en kleur van de McDonalds site overgenomen omdat ik er zelf niet uitkwam.*/
      box-shadow: 0 0.06em 0.5em 0 rgba(0,0,0,.06);
  }/*  Hier eindigt mijn grid voor de header  */
  
  main {
    margin: 5% 17% 10% 17%
  }

  h1{
    /* width: 2em;
    position: absolute;
    text-align: center;
    justify-content: center; */
    position: absolute;
    margin: 0;
    padding-left: 38%;
    font-size: 3em;
    font-weight: bolder;
    
  }

  h2{
      font-size: 3.5ch;
      margin: 0;
  }
  
  h3 {
      font-weight: lighter;
      font-size: 2.5ch;
  }
  
  h4 {
    font-size: 0.01em;
    width: 0.01em;
    color: #fff;
  }
  
  p {
      padding-bottom: 0.5em;
      font-weight: lighter;
      line-height: 1.5em;
  }

/* Begin container navburger */

.navburger {
  display: flex;
}

  /* begin nav menu bar */
  nav {
    width: 15em;
    padding: 0;
  }

  nav a{
    font-size: 1.1em;
  }

  nav li{
    list-style: none;
    display: flex;
    flex-direction: row; 
    width: min-content;
    align-items: center;
  }

  nav img{
    padding-right: 1em;
    padding-left: 1em;
  }

  nav ul:nth-of-type(1) li{
    width: 17em;
    border: .01em solid black;
    border-radius: .3em;
  }

  nav ul:nth-of-type(1){
    padding-left: 0;
    margin-bottom: 2em;
  }

  nav ul:nth-of-type(2) li{
    width: 15em;
    margin-top: 1em;
  }

  nav ul:nth-of-type(2){
    width: 17em;
    border: .01em solid black;
    border-radius: .3em;
    padding-left: 0;
  }

  nav ul:nth-of-type(2) li:nth-of-type(3){
   border-left: .3em solid rgb(206, 20, 20) ;
   font-weight: bolder;
  }
/* einde nav menu bar */

/* begin main grid voor burgers */

  /* main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	  grid-template-rows: repeat(2, 1fr);
    gap: 1em;
  } */

  /* .burgers {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  } */

  .burgers {
    list-style: none;
    padding: 0;
    display: grid;
    margin-left: 5em;
    margin-top: 7em;
    height: min-content;
    grid-template-columns: repeat(3, 1fr);
	  grid-template-rows: repeat(3, 1fr);
    column-gap: 4em;
    row-gap: 7em;
    width: 11em;
  }
  
  .burgers a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    text-align: center;
  }

  .burgers li {
   width: 14em;
  }

  .burgers img {
    width: 9em;
    margin-bottom: 1em;
  }
/* 
 .burgers li:nth-of-type(1){
    grid-area: 1/1/2/2;
  }

  .burgers li:nth-of-type(2){
    grid-area: 1/2/2/3;
  }

  .burgers li:nth-of-type(3){
    grid-area: 1/3/2/4;
  }

  .burgers li:nth-of-type(4){
    grid-area: 2/1/3/2;
  }

  .burgers li:nth-of-type(5){
    grid-area: 2/2/3/3;
  }

  .burgers li:nth-of-type(6){
    grid-area: 2/3/3/4;
  } */

/* begin van de footer navigatie */
.footer_nav li {
	object-fit: cover;
    list-style: none;
}

.footer_nav ul:nth-of-type(1) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	grid-area: 1/4/2/7;
	padding-left: 1em;
}

.footer_nav ul li:first-of-type {
	font-weight: bold;
	padding-bottom: 1em;
}

.footer_nav li {
	padding-bottom: 0.7em;
	font-weight: lighter;
	font-size: 1.7ch;
}

.footer_nav ul:nth-of-type(2) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	grid-area: 1/9/2/12;
	padding: 0;
}

.footer_nav ul:nth-of-type(3) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	grid-area: 1/14/2/17;
	padding: 0;
}

.footer_nav {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
} /* Einde footer navigatie */

/* positie van de socials icons. */
.logo {
	padding: 2em 0em 2em 18em;
}

.logo a{
	padding-right: 0.1em;
	padding-left: 1em;
	text-decoration: none;
}/* einde positie van de socials icons. */

  /* footer onder de hr */
footer hr {
	margin-bottom: 2em;
	width: 68%;
}

.footer_nav2 li {
	display: inline-block;
	list-style: none;
	padding-left: 1em;
	font-weight: lighter;
}

.footer_nav2 ul:nth-of-type(1) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	padding: 0;
	grid-area: 1/4/2/7;
}

.footer_nav2 img {
	object-fit: cover;
	width: 2em;
	padding-top: 1.2ch;
	grid-area: 1/12/2/16;
}

.footer_nav2 p {
	grid-area: 1/12/2/17;
	padding-left: 2.5em;
}

.footer_nav2 {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	margin-bottom: 6em;
}/* einde footer onder de hr */
