/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#fff;
	--color-button: #ffbc0d;
	--font-family: Helvetica, Arial, sans-serif;
	--accent-color: rgb(206, 20, 20);
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

html{
	font-family:var(--font-family);
}

/* Begin button animatie. Dit is de code die ik heb gekopieërd van codepen en heb aangepast. 
Ik wist wat de elementen deden waardoor ik het makkelijk kon verwerken in mijn eigen stijl.
Ik heb de code die ik eerder had geschreven voor de buttons verwerkt waardoor het goed past bij de rest. */ 

.art_1 a {
	background-color: var(--color-button);
	padding: .8em 1.5em;
	border: none;
	border-radius: 0.3em;
	font-family: "Work Sans", sans-serif;
	font-size: 1em;
	outline: solid 0.2em var(--color-button);
	color: var(--color-text);
	display: inline-block;
	text-decoration: none;
}
.art_1 a:is(:hover, :focus) {
	outline-offset: 0.19em;
}

.art_2 a {
	background-color: var(--color-button);
	padding: .8em 1.5em;
	border: none;
	border-radius: 0.3em;
	font-family: "Work Sans", sans-serif;
	font-size: 1em;
	outline: solid 0.2em var(--color-button);
	color: var(--color-text);
	display: inline-block;
	text-decoration: none;
}
.art_2 a:is(:hover, :focus) {
	outline-offset: 0.19em;
}

.art_3 a {
	background-color: var(--color-button);
	padding: .8em 1.5em;
	border: none;
	border-radius: 0.3em;
	font-family: "Work Sans", sans-serif;
	font-size: 1em;
	outline: solid 0.2em var(--color-button);
	color: var(--color-text);
	display: inline-block;
	text-decoration: none;
}
.art_3 a:is(:hover, :focus) {
	outline-offset: 0.19em;
}

/* Einde button animatie */


/* .car_img1 a, .car_img2 a, .car_img3 a, .art_1 a, .art_2 a, .art_3 a{
	background-color: var(--color-button);
	border-radius: 0.3em;
	border: none;
	text-decoration: none;
	padding: 1em 1.5em;
	font-size: 1em;
	display: inline-block;
	color: var(--color-text);
} */

/* Dit is de code die ik heb gekopieërd van codepen die ik heb gevonden via DLO.
Ik heb dit vervolgens aangepast om het werkend te maken voor mijn pagina. */

.header2 a {
	position: relative;
	text-decoration:none;
	transition:color .5s;
  }
  
.header2 a::after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:100%;
	height:.2em;
	background-color:var(--accent-color);
  
	  /* initieel horizontaal helemaal plat */
	transform:scaleX(0);
	transition:transform .5s;
  }
  
  /* hover en focus */
.header2 a:is(:hover, :focus-visible)::after {
	  /* nu horizontaal de hele breedte */
	transform:scaleX(1);
  }
  
  /* active */
.header2 a:active {
	--link-color:var(--accent-color);
  }

/* Begin states van de main header */

  .header1 a {
	position: relative;
  
	text-decoration:none;
  
	transition:color .5s;
  }
  
.header1 a::after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:100%;
	height:.2em;
	background-color:var(--accent-color);
  
	  /* initieel horizontaal helemaal plat */
	transform:scaleX(0);
	transition:transform .5s;
  }
  
  /* hover en focus */
.header1 a:is(:hover, :focus-visible)::after {
	  /* nu horizontaal de hele breedte */
	transform:scaleX(1);
  }
  
  /* active */
.header1 a:active {
	--link-color:var(--accent-color);
  }

/* .heade1 .dropdown a:disabled{
	--link-color:var(--accent-color);
} */

/* Einde code states  */

/* inline-block zorgt ervoor dat de list items naast elkaar komen te staan */
header section li {
	display: inline-block;
	position: relative;
	list-style: none;
	padding: 0;
}

/* header a:nth-of-type(1) {
    background-color: #ffbc0d;
} */

header img{
	width: 8em;
	height: 8em;
}

@media (max-width: 1450px) {
	header img {
		width: 3em;
	    height: 3em;
	}
}

header a:nth-of-type(1){
	display: flex;
	justify-content: end;
	padding-right: 2em;
}

.header1 a, 
.header2 a, 
.dropdown a, 
.footer_nav a, 
.footer_nav2 a{
	text-decoration: 0;
	color: #111;
}

.header1 ul:nth-of-type(1) a:nth-of-type(1){
	font-size: 0.9em;
	font-weight: lighter;
}

.header1 ul:nth-of-type(2) a:nth-of-type(1){
	font-size: 1em;
	padding: 1.5em 1em 1em 1em;
	display: block;
}

/* Begin popup nav header */
.header1 ul:nth-of-type(2) .dropdown li img{
	margin-left: 10ch;
}

.header1 ul:nth-of-type(2) .dropdown li{
	display: inline-flex;
	align-items: center;
	width: min-content;
	margin-top: 2ch;
}

.header1 ul:nth-of-type(2) .dropdown{
	width: 45vw;
	background-color: var(--color-background);
	position: absolute;
	z-index: 2;
	display: inline-block;
	box-shadow: 0 0.06em 0.5em 0 rgba(0,0,0,.06);
	margin-top: 2ch;
	padding: 0;
}

.header1 ul:nth-of-type(2) .dropdown li:last-of-type a{
	width: 21ch;
	margin-left: 35ch;
	margin-bottom: 5ch;
	border: .01em solid black;
	text-decoration: 0;
	padding: 1em;
	border-radius: .3em;
	box-shadow: 0 0.06em 0.5em 0 rgba(0,0,0,.06);
}/* Einde popup nav header */

.header2 ul{
	padding-left: 8em;
	font-size: 0.9em;
	font-weight: lighter;
}

.header2 ul:nth-of-type(1) a:nth-of-type(1){
	padding-left: 0.5em;
}

@media (max-width: 1450px) {
	.header1, .header2{
		display: none;
	}
}

header{
	display: grid;
	grid-template-columns: 4fr 6fr 6fr;
	/* box-shadow zorgt voor een box met schaduw wat de header afscheidt van de body.
	De eerste vier cijfers zijn de waardes voor de schaduw en de rgba staat voor de kleur.
	Ik heb de waardes en kleur van de McDonalds site overgenomen omdat ik er zelf niet uitkwam.*/
	box-shadow: 0 0.06em 0.5em 0 rgba(0,0,0,.06);
}/*  Hier eindigt mijn grid voor de header  */

h1{
	color: #fff;
	font-size: 0.01em;
	width: fit-content;
}

h2{
    font-size: 3.5ch;
	margin: 0;
}

h3 {
	font-weight: lighter;
	font-size: 2.5ch;
}

h4 {
	font-size: 0.01em;
	width: 0.01em;
	color: #fff;
}

p {
	padding-bottom: 0.5em;
	font-weight: lighter;
	line-height: 1.5em;
}

/* Styling van de carousel */
.container {
	width: 73em;
	height: 33em;
	overflow-y: hidden;
	overflow-x: auto;
	display: flex;
	margin-left: 17%;
	margin-top: 5%;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.container img{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
}

.car_nav p {
	font-size: 0.01em;
	color: #fff;
	margin-left: 170em;
}

.car_nav {
	z-index: 2;
	position: absolute;
	display: flex;
	margin-left: 45%;
	margin-top: 1.5%;
}

.car_nav a {
	background-color: rgb(214, 212, 212);
	border-radius: 50%;
	display: inline-flex;
	text-decoration: 0;
	cursor: pointer;
	margin-right: 5ch;
	height: 3ch;
	width: 3ch;
}/* Einde styling carousel */

/* Hier plaats ik mijn eerste image op een grid  */
.car_img1 img{
	z-index: 1;
	width: 100%;
	object-fit: cover;
	grid-area: 3/4/15/16;
}

/* @media (max-width: 1450px) {
	.car_img1 img {
		width: 70%;
	}
} */


.car_img1 article{
	position: absolute;
	object-fit: cover;
	background-color: var(--color-background);
	grid-area: 5/5/14/9;
	border-radius: 0.5em;
	padding: 2em;
}

.car_img1 h2{
	width: 70%;
	color: rgb(37, 37, 37);
	font-size: 3.5ch;
	font-weight: bolder;
}

.car_img1{
	z-index: 1;
	position: absolute;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(16, 1fr);
}/* Hier eindigt de grid voor mijn eerste afbeelding */

/* Hier plaats ik mijn eerste image op een grid  */
.car_img2 img{
	width: 100%;
	object-fit: cover;
	grid-area: 3/4/15/16;
}

.car_img2 article{
	position: absolute;
	object-fit: cover;
	background-color: var(--color-background);
	grid-area: 5/5/14/9;
	border-radius: 0.5em;
	padding: 2em;
}

.car_img2 h2{
	width: 70%;
	color: rgb(37, 37, 37);
	font-size: 3.5ch;
	font-weight: bolder;
}

.car_img2{
	z-index: 1;
	position: absolute;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(16, 1fr);
}/* Hier eindigt de grid voor mijn eerste afbeelding */

/* Hier plaats ik mijn eerste image op een grid  */
.car_img3 img{
	width: 100%;
	object-fit: cover;
	grid-area: 3/4/15/16;
}

.car_img3 article{
	position: absolute;
	object-fit: cover;
	background-color: var(--color-background);
	grid-area: 5/5/14/9;
	border-radius: 0.5em;
	padding: 2em;
}

.car_img3 h2{
	width: 70%;
	color: rgb(37, 37, 37);
	font-size: 3.5ch;
	font-weight: bolder;
}

.car_img3{
	z-index: 1;
	position: absolute;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(16, 1fr);
}/* Hier eindigt de grid voor mijn eerste afbeelding */

/* .art_1, .art_2, .art_3 */

.art_1 p:nth-of-type(2), 
.art_2 p:nth-of-type(2),
.art_3 p:nth-of-type(2) {
	font-size: 0.01em;
	width: fit-content;
	margin-top: 70em;
	color: #fff;
}

/* Zo spreek je de 3 articles binnen een section aan om ze op de juiste grid positie te zetten */
.art_1 article:nth-of-type(1) {
	width: 100%;
	object-fit: cover;
	grid-area: 1/4/2/8;
}

.art_1 article:nth-of-type(2) {
	width: 100%;
	object-fit: cover;
	grid-area: 1/8/2/12;
}

.art_1 article:nth-of-type(3) {
	width: 100%;
	object-fit: cover;
	grid-area: 1/12/2/16;
}

.art_1 {
	position: relative;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	column-gap: 2ch;
	padding-bottom: 15ch;
	padding-top: 15ch;
}/* Hier eindigt de grid voor section 3 */

/* Hier spreek ik de volgende 2 articles aan  */
.art_2 article:nth-of-type(1) {
	width: 100%;
	object-fit: cover;
	grid-area: 1/4/2/10;
}

.art_2 article:nth-of-type(2) {
	width: 100%;
	object-fit: cover;
	grid-area: 1/10/2/16;
}

.art_2 {
	position:relative;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	column-gap: 2ch;
	padding-bottom: 15ch;
}/* Hier eindigt de grid voor section 4 */

/* Hier spreek ik de volgende 2 articles aan  */
.art_3 article:nth-of-type(1) {
	width: 99%;
	object-fit: cover;
	grid-area: 1/4/2/10;
	border-style: solid;
	border-width: 0.1ch;
	border-color: darkgrey;
	border-radius: 0.5ch;
}

.art_3 article:nth-of-type(2) {
	width: 99%;
	object-fit: cover;
	grid-area: 1/10/2/16;
	border-style: solid;
	border-width: 0.1ch;
	border-color: darkgrey;
	border-radius: 0.5ch;
}

.art_3 h2{
    margin-left: 1em;
    margin-top: 0.5em;
}

.art_3 p{
	margin-left: 2em;
}

.art_3 article:nth-of-type(1) a:nth-of-type(1){
	margin-left: 2em;
	margin-top: 2em;
}

.art_3 article:nth-of-type(2) a:nth-of-type(1) {
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 2em;
}

.art_3{
	position:relative;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	column-gap: 2ch;
	padding-bottom: 13ch;
}/* Hier eindigt de grid voor section 4 */

/* begin van de footer navigatie */
.footer_nav li {
	object-fit: cover;
    list-style: none;
}

.footer_nav ul:nth-of-type(1) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	grid-area: 1/4/2/7;
	padding-left: 1em;
}

.footer_nav ul li:first-of-type {
	font-weight: bold;
	padding-bottom: 1em;
}

.footer_nav li {
	padding-bottom: 0.7em;
	font-weight: lighter;
	font-size: 1.7ch;
}


.footer_nav ul:nth-of-type(2) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	grid-area: 1/9/2/12;
	padding: 0;
}

.footer_nav ul:nth-of-type(3) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	grid-area: 1/14/2/17;
	padding: 0;
}

.footer_nav {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
} /* Einde footer navigatie */

/* positie van de socials icons. */
.logo {
	padding: 2em 0em 2em 18em;
}

.logo a{
	padding-right: 0.1em;
	padding-left: 1em;
	text-decoration: 0;
}/* einde positie van de socials icons. */

/* footer onder de hr */
footer hr {
	margin-bottom: 2em;
	width: 68%;
}

.footer_nav2 li {
	display: inline-block;
	list-style: none;
	padding-left: 1em;
	font-weight: lighter;
}

.footer_nav2 ul:nth-of-type(1) {
	width: 100%;
	object-fit: cover;
	list-style: none;
	padding: 0;
	grid-area: 1/4/2/7;
}

.footer_nav2 img {
	object-fit: cover;
	width: 2em;
	padding-top: 1.2ch;
	grid-area: 1/12/2/16;
}

.footer_nav2 p {
	grid-area: 1/12/2/17;
	padding-left: 2.5em;
}

.footer_nav2 {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	margin-bottom: 6em;
}/* einde footer onder de hr */
